.blogArticle {

}

.bannerBlock img {
    width: 100%;
    height: 50vh;
    min-height: 700px;
    object-fit: cover;
}

.title {
    font-size: 48px;
    text-transform: uppercase;
    margin: 50px auto;
}

.description {
    width: 60%;
    margin: 100px auto;
}