.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .about {
        display: block;
    }
}

.about .title {
    font-size: 48px;
}