.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 950px) {
    .project {
        display: block;
    }
}

.Project .title {
    font-size: 72px;
}