.blog {
    background-color: #F8F8F8;
    width: 100%;
}

.blog hgroup {
    width: 100%;
    margin-bottom: 40px;
}

.blog h3 {
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0.04em;
    color: #212121;
    text-align: center;
    margin: 0px;
}

.blog h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
    height: 40px;
}

@media (max-width: 570px) {
    .blog h4 {
        height: 55px;
    }
}

.wrapper {
    width: 80%;
    display: flex;
    margin: 0px auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 1235px) {
    .wrapper {
        width: 90%;
    }
}


