.header {
    display: flex;
    padding: 20px 10%;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    background-color: #E5E5E5;
}

@media (max-width: 900px) {
    .header {
        padding: 20px 10px;
    }
}